:root{

--primary:#4F8CFF;

--secondary:#7C5CFF;

--success:#00E676;

--danger:#FF5252;

--warning:#FFC107;

--dark:#faf7f7;

--card:#18243D;

--border:#2E3A59;

--text:#F5F7FA;

--text-secondary:#AAB4D6;

}